@page
    <html>
    <head>
        <title>World population</title>
        <script src="~/js/Chart.js"></script>
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" type="text/css" href="~/css/site.css">
        <script type="text/javascript" src="script.js"></script>
    </head>
    <body onload="drawing()">
        <h1 style="text-align:center">USV</h1>
        <div>
            <canvas id="myChart_odom" width="500" height="500"></canvas>
        </div>
        <div>
            <canvas id="myChart_setpoint" width="500" height="500"></canvas>
        </div>
    </body>

</html>






