@page
<head>
    <title>Add Map</title>
    <link rel="stylesheet" href="/css/GoogleMap.css">
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDilZDDsTG5pUI64UFxiXXD6CJsuzXtjr4&callback=initMap&libraries=&v=weekly"
            async></script>
    <!-- jsFiddle will insert css and js -->
</head>
<body>
    <h3 style="text-align:center">My Google Maps Demo</h3>
    <div id="floating-panel" class="floating-panel">
        <input onclick="clearMarkers();" type="button" value="Hide Markers" />
        <input onclick="showMarkers();" type="button" value="Show All Markers" />
        <input onclick="deleteMarkers();" type="button" value="Delete Markers" />
    </div>
    <!--The div element for the map -->
    <div id="map" style="width:100%;height:400px;"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
</body>
